@font-face {
    font-family: "poppin-bold";
    src: url("fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "poppin-thin";
    src: url("fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "ghs";
    src: url("fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 900;
    font-style: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --logo: rgb(0, 128, 201);
    --white: #ffffff;
    --bg: #d2d7d9;
    --link-color: #000000;
    --mobile-menu: #3b494f;
    --hero-h2: #00585e;
    --active-link: #c64e00;
    --hero-h3: #c94f00;
    --hero-article: #4f5d5e;
    --mobile-menu-heading: #23ebf9;
    --call-btn: rgb(0, 128, 201);
    --call-btn-hover: #0034d7;
    --container-shadow: 2px 2px 10px rgb(66, 66, 66),
        -2px -2px 8px rgb(94, 94, 94);
}
html {
    scroll-behavior: smooth;
    font-size: 100%;
    font-family: poppin-bold, "sans-serif";
    transition: 3s ease-in-out all;
}
body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    background: var(--bg);
    transition: 0.4s ease-in;
    scroll-behavior: smooth;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    font-family: poppin-bold;
}

input,
button {
    outline: none;
}

.main-container {
    width: 80dvw;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    background: var(--white);
    border-radius: 8px;
    box-shadow: var(--container-shadow);
    /* animation: 0.5s scaleup linear; */
}
.nav-btn,
.nav h3,
.nav ul .call {
    display: none;
}
.main-container header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    z-index: 100;
}
header h3 {
    color: var(--logo);
    text-transform: capitalize;
    font-weight: 900;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul a {
    margin: 0 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--link-color);
}
header nav ul .active {
    border-bottom: 2px solid var(--call-btn);
    color: var(--active-link);
}
header .call {
    outline: none;
    border: none;
    color: var(--white);
    background: var(--call-btn);
    border-radius: 15px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s ease-in all;
    font-weight: 800;
}
header .call:hover {
    background: var(--call-btn-hover);
    transform: scale(1.1);
}

/* @Mobile Navbar Menu */
.mobile-menu {
    top: 0;
    left: 0;
    width: 60%;
    height: 100dvh;
    position: fixed;
    background: var(--mobile-menu);
    z-index: 1000;
    display: block;
    transition: 0.5s ease-in;
}
.mobile-menu ul {
    flex-direction: column;
    align-items: left;
    text-align: justify;
    justify-content: left;
    padding: 1rem 0;
}
.mobile-menu ul h3 {
    text-align: left;
    margin-left: -4rem;
    margin-bottom: 1rem;
    font-size: 22px;
    color: var(--mobile-menu-heading);
}
.mobile-menu ul a {
    width: 95%;
    display: inline-block;
    text-align: left;
    margin: 0.6rem 0.5rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    color: var(--white);
}
.mobile-menu ul .active {
    background: #000;
}

.mobile-menu ul .call {
    margin-left: -5.5rem;
    margin-top: 1.7rem;
    text-align: left;
    padding: 0.5rem 1.7rem;
}

/* Main Page Section Styling */
main {
    width: 100%;
    height: 100%;
    padding: 0.3rem 2rem;
    overflow-y: auto;
}
main section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: 0.5s scaleup linear;
}
main .heading {
    color: var(--mobile-menu);
    margin: 0.7rem auto;
    text-align: center;
}
section .hero-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: justify;
}
.hero-text h2 {
    font-size: 2.2rem;
    color: var(--hero-h2);
    margin: 0.7rem 0;
}
.hero-text h3 {
    font-size: 2rem;
    color: var(--hero-h3);
    margin: 0.8rem 0;
}
.hero-text article {
    max-width: 90%;
    color: var(--hero-article);
    margin: 0.3rem 0;
    line-height: 1.9rem;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}
.hero-text .btn-area {
    position: relative;
    margin-left: -3rem;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 1.3rem 0;
    padding: 0.3rem 0;
}

.btn-area a {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}
.btn-area #view {
    margin: 0.5rem;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1rem;
    background: #008881;
    color: #ffffff;
    border-radius: 8px;
    font-weight: 800;
    transition: 0.3s ease-in;
}
.btn-area #shop {
    margin: 0.5rem;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1rem;
    background: #0061d0;
    color: #ffffff;
    border-radius: 8px;
    font-weight: 800;
    transition: 0.3s ease-in;
}
.btn-area :nth-child(2) {
    margin-left: 1rem;
}
.btn-area #view:hover {
    background: transparent;
    border: 1px solid #008881;
    color: #008881;
}
.btn-area #shop:hover {
    background: transparent;
    border: 1px solid #0061d0;
    color: #0061d0;
}

.btn-area #shop img,
#view img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 0.3rem;
    margin-bottom: 0.3rem;
}

section .hero-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*animation: 7s zoomIn forwards linear infinite;*/
}

section .hero-img img {
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    padding: 0.3rem;
    opacity: 1 ease-in;
    transition: 0.4s ease-in all;
    border-radius: 25px;
    border: 1px solid #4c5f63;
}
/* @CSS Responsive Here */
@media (max-width: 768px) {
    .main-container {
        width: 100dvw;
        height: 100dvh;
        display: flex;
        align-items: center;
        scroll-behavior: smooth;
        overflow-y: auto;
        border-radius: 0;
    }
    .main-container header {
        padding: 0.8rem 0.8rem;
    }
    .main-container header .nav-btn {
        display: block;
        outline: none;
        padding: 0.5rem;
        border: none;
        background: transparent;
    }
    .nav-btn img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
    .call,
    .nav {
        display: none;
    }
    header nav ul .active {
        border-bottom: none;
        color: var(--white);
    }
    .mobile-menu,
    .mobile-menu h3,
    .mobile-menu ul .call {
        display: block;
    }
    main {
        padding: 0.3rem 0.8rem;
    }
    main section {
        flex-direction: column;
    }
    main :nth-child(2) {
        order: -1;
    }
    #about :nth-child(1) {
        order: -1;
    }
    .hero-text h2 {
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }
    .hero-text h3 {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .hero-text .btn-area {
        margin: 0.5rem auto;
    }
    .hero-text article {
        width: 100%;
        max-width: 100%;
    }
}

/* @CSS Animation Created */
@keyframes scaleup {
    from {
        transform: translateY(100%);
        transition: 0.3s ease-in;
        opacity: 0.2;
    }
    to {
        transform: translate(0);
        transition: 0.3s ease-in;
        opacity: 1;
    }
}
@keyframes scaleLeft {
    from {
        transform: translateX(100%);
        transition: 0.3s ease-in;
        opacity: 0.2;
    }
    to {
        transform: translateX(0);
        transition: 0.3s ease-in;
        opacity: 1;
    }
}

@keyframes heroAnimation {
    0% {
        opacity: 0.2;
        transition: 0.2s ease-in;
        transform: translateX(100%);
    }

    100% {
        opacity: 1 ease-in;
        transition: 0.4s ease-in all;
        transform: translateX(-100%);
    }
}
@keyframes zoomIn {
    0% {
        transition: 0.2s ease-in;
        opacity: 0.5;
        transform: scale(0.7);
    }

    100% {
        transition: 0.2s ease-in-out;
        opacity: 0.5 ease-in;
        transform: scale(1);
    }
}
